@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Modern Work Team</h1>
    <p>Greetings from Yaba, I hope you are enjoying the session.</p>
    <p>Best regards, </br>Oyimafu Emmanuel</p>

    <p>It will be an honor to connect with you at <a href="https://www.linkedin.com/in/oyimafu-joshua-emmanuel-a2b1611b4/">LinkedIn</a>.</p>
</div>
